//// Parameter defaults; Can be set at workflow runtime on the nextflow command-line
// e.g. --filterOutliers

params {
  // parameters for the 'topCells' cell threshold heuristic
  topCellPercent = 99 // Percentage of cells over minUTC to use as 'robust max.'
  minCellRatio = 10 // Ratio between transcript counts of top cells and the lower cell threshold
  expectedCells = 0 // Optional input for TopCells or FixedCells; Typically set per sample in samples.csv
  useSTARthreshold = false // Use STARSolo built-in default cell threshold
  // Parameters for the CellFinder method
  cellFinderFdr = 0.001 // False Discovery Rate Threshold to call a cell-barcode above background
  medianFraction = 0.05 // lower count threshold for barcodes to be tested relative to 'top cells'; 0 to disable
  // Parameters for filtering cells with outlier metrics
  madsReads = 5 // If set, flag cells with log(total_reads) outside +/- x MADs
  madsPassingReads = 8 // Low passing read fraction: (passingReads/Reads) < x MADs
  madsMito = 5 // # High mito. reads: (mitoReads/reads) > x MADs
  filterOutliers = false // Filter flagged cells from passing cell matrix
  // Threshold used to filter cells captured on beads with count distribution similar to ambient
  minBeadDivergence = 0.05 // Normalized KL Divergence from total counts distribution for library
  filterAmbientBeads = true // If true, cells from beads below minBeadDivergence are filtered, otherwise they are flagged as ambient_bead.
}
