//// Parameter defaults; Can be set at workflow runtime on the nextflow command-line
// e.g. --fixedCells = 1000

params {
  // parameters for the 'default' UTC heuristic
  topCellPercent = 99 // Percentage of cells over minUTC to use as 'robust max.'
  minCellRatio = 10 // Ratio between transcript counts of top cells and the lower cell threshold
  expectedCells = 0
  useSTARthreshold = false // Use STARSolo built-in default cell threshold
  // Parameters for the CellFinder method
  cellFinderFdr = 0.001 // False Discovery Rate Threshold to call a cell-barcode above background
  // Parameters for filtering cells with outlier metrics
  filter_outliers = false
  num_mad_genes = 8
  num_mad_umis = 8
  num_mad_mito = 5
}

process {
    withName:filteredMatrixGeneration {
      container = "public.ecr.aws/o5l3p3e4/scalernareport@sha256:53cce5b757fc848ec9f995e68d85fe0fbfadb8466622fb711721cb64e17f8f7d"
      conda = "$projectDir/envs/scalernareport.conda.yml"
      cpus = { max_cpu(16) }
      memory = { max_mem(32.GB * task.attempt)}
    }
}

