//// Parameter defaults; Can be set at workflow runtime on the nextflow command-line
// e.g. --filterOutliers

params {
  // parameters for the 'topCells' cell threshold heuristic
  topCellPercent = 99 // Percentage of cells over minUTC to use as 'robust max.'
  minCellRatio = 10 // Ratio between transcript counts of top cells and the lower cell threshold
  expectedCells = 0 // Optional input for TopCells or FixedCells; Typically set per sample in samples.csv
  useSTARthreshold = false // Use STARSolo built-in default cell threshold
  // Parameters for the CellFinder method
  cellFinderFdr = 0.001 // False Discovery Rate Threshold to call a cell-barcode above background
  // Parameters for filtering cells with outlier metrics
  madsReads = 5 // If set, flag cells with log(total_reads) outside +/- x MADs
  madsPassingReads = 8 // Low passing read fraction: (passingReads/Reads) < x MADs
  madsMito = 5 // # High mito. reads: (mitoReads/reads) > x MADs
  filterOutliers = false // Filter flagged cells from passing cell matrix
  // Limit used to filter cells captured on beads with a high number of passing cell barcodes.
  maxBeadBcs = "max" // Can be "max" which will filter cells on beads where the number of passing cells equals the number of PBCs used in experiment. Or can be an integer which can be less than the number of PBCs in the experiment. 
  filterBeads = false // Flag used to filter cells from UMI count matrix which were captured on beads with a high number of passing cells.
}
