//// Parameter defaults; Can be set at workflow runtime on the nextflow command-line
// See nextflow_schema.json for description
params {
  // Parameter that defines the Azimuth reference to use.
  azimuthRef = "pbmcref"
  seuratWorkflow = "standard"
}

process {
    withLabel:seuratv5 {
      errorStrategy = { (task.attempt) <= 2 ? 'retry' : 'ignore'}
      memory = { max_mem(32.GB * task.attempt) }
      container = "public.ecr.aws/o5l3p3e4/scalerna_celltyping@sha256:7de7f27bda227922f6f4367c0ffd9bc913d12dff7a48f991e0cd7006d0074312"
    }
    withLabel:reporting {
      errorStrategy = { (task.attempt) <= 2 ? 'retry' : 'ignore'}
      memory = { max_mem(6.GB * task.attempt) }
      container = "public.ecr.aws/o5l3p3e4/scalerna_celltyping@sha256:7de7f27bda227922f6f4367c0ffd9bc913d12dff7a48f991e0cd7006d0074312"
    }
}
