//// Parameter defaults; Can be set at workflow runtime on the nextflow command-line
// See nextflow_schema.json for description
params {
  // Parameter that defines the Azimuth reference to use.
  azimuthRef = "pbmcref"
  seuratWorkflow = "standard"
}

process {
    withLabel:seuratv5 {
      errorStrategy = { (task.attempt) <= 2 ? 'retry' : 'ignore'}
      memory = { max_mem(32.GB * task.attempt) }
      container = "public.ecr.aws/o5l3p3e4/scalerna_celltyping:12-06-2024-224328"
    }
    withLabel:reporting {
      errorStrategy = { (task.attempt) <= 2 ? 'retry' : 'ignore'}
      memory = { max_mem(6.GB * task.attempt) }
      container = "public.ecr.aws/o5l3p3e4/scalerna_celltyping:12-06-2024-224328"
    }
}
