params {
    computeOutDir = false // Construct unique output directory based on params.outDir and workflow run name
    internalReport = false // Add extra metrics and plots to QC report
    index2MinFileSize = 1048576 // Minimum file size for index2 files
    minPassingSampleReads = 1000 // Minimum reads a sample must have post bcParser to make it to alignment
}