//// Parameter defaults; Can be set at workflow runtime on the nextflow command-line
// e.g. --scalePlexAssignmentMethod fc

params {
  // ScalePlex-specific parameters
  scalePlexAssignmentMethod = 'bg' // Use background ('bg') or fold-change ('fc') algorithm for ScalePlex assignment
  scalePlexPercentFromTopTwo = 0 // Threshold percent of ScalePlex UMIs from top two unique to pass assignment, e.g. 50
  scalePlexFCThreshold = 2 // If using fold-change assignment algorithm set fc ratio for valid assignment of second / third detected ScalePlex oligo
  scalePlexMinReadUmi = 1 // Minimum read count per UMI for inclusion in matrix
  scalePlexMinCellCountBG = 0.01 // Minimum fraction of cells that an ScalePlex oligo needs background UMI counts in to be considered as valid
  scalePlexMinBGVal = 1.0 // Minimum value of ScalePlex oligo counts set in background estimation if a ScalePlex oligo does not meet scalePlexMinCellCountBG check
}
